.jdropwords {
    position: relative;
    margin: auto;
    width: 600px;
    font-size: 12px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

.jdropwords .blanks {
    position: relative;
    border: 1px solid #ccc;
    padding: 10px;
}
.jdropwords .blanks p {
    margin-bottom: 5px;
}
.jdropwords .blanks p .blank {
    display: inline-block;
    width: 100px;
    min-width: 100px;
    height: 20px;
    padding: 2px;
    border-bottom: 1px solid #ccc;
}
.jdropwords .blanks p .blank.active {
    border-bottom: 0;
    padding-top: 4px;
    width: auto !important;
    min-width: 0;
}
.jdropwords .blanks p .blank.active .dropped{
    position: relative;
    top: 5px;
}
.jdropwords .blanks p .blank.drop-hover {
    border-color: orange;
}
.jdropwords .blanks p .blank.error {
    border-color: red;
}
.jdropwords .blanks p .blank.error .dropped {
    background-color: red;
}
.jdropwords .blanks p .blank.success .dropped{
    background-color: green;
}

.jdropwords .words {
    position: relative;
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 10px;
}
.jdropwords .words .word,
.jdropwords .blanks p .dropped {
    background-color: #286090;
    border-color: #204d74;
    color: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 10px;
}
.jdropwords .words .word {
    padding: 3px 10px 3px 10px;
}

.jdropwords .blanks p .dropped span,
.jdropwords .blanks p .dropped .action {
    display: block;
    float: left;
}
.jdropwords .blanks p .dropped span {
    padding: 3px 5px 3px 10px;
}
.jdropwords .blanks p .dropped .action {
    padding: 1px 7px 3px 6px;
    border-left: 1px solid #ccc;
}
.jdropwords .blanks p .dropped .action > a {
    display: inline-block;
    color: black;
    font-size: 11px;
    text-decoration: none;
    font-family: arial;
    color: white;
}

.jdropwords .feedback {
    border: 1px solid #ccc;
    border-bottom: 0;
    background-color: #eee;
}
.jdropwords .feedback p {
    text-align: center;
    font-size: 28px;
    width: 80%;
    float: left;
}
.jdropwords .feedback .score {
    padding: 10px;
    float: right;
}

.jdropwords .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10000;
}

.jdropwords .actions {
    text-align: center;
}
.jdropwords .actions a.button {
    font-size:16px;
    font-family:Arial;
    font-weight:normal;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    border:1px solid #dcdcdc;
    padding:9px 18px;
    text-decoration:none;
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    background:-ms-linear-gradient( top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ededed), color-stop(100%, #dfdfdf) );
    background-color:#ededed;
    color:#777777;
    display:inline-block;
    text-shadow:1px 1px 0px #ffffff;
    -webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
    -moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
    box-shadow:inset 1px 1px 0px 0px #ffffff;
}
.jdropwords .actions a.button[disabled] {
    color: #ccc;
}
.jdropwords .actions a.button:not([disabled]):hover {
     background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
     background:-ms-linear-gradient( top, #dfdfdf 5%, #ededed 100% );
     filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
     background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #dfdfdf), color-stop(100%, #ededed) );
     background-color:#dfdfdf;
}
.jdropwords .actions a.button:active {
      position:relative;
      top:1px;
}

.jdropwords .clearfix:before,
.jdropwords .clearfix:after {
    content: " ";
    display: table;
}

.jdropwords .clearfix:after {
    clear: both;
}

.jdropwords .clearfix {
    *zoom: 1;
}
